body {
    background: url(../images/images/background.jpeg) no-repeat;
    background-size: contain;
    background-size: cover;
    text-align: justify;
}
table,th,tr,td {
    border: solid;
    text-decoration: solid;
    
}
h1 h2 h3 {
    text-shadow: 2px;
    
}
